body {
	background: linear-gradient(to right bottom, #FC5C7D, #6A82FB, #7AA1D2);
	color: gray;
}

/* 관리자페이지 */
body .wrapper_admin {
	height: 80vh;
	width: 75%;
	margin: 5% auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.admin_name {
	font-size: 20px;
	height: 60%;
	margin-left: 50%;
	width: 30%;
	display: flex;
	align-items: flex-end;
	text-align: right;
}

.adminpage {
	/* background : linear-gradient(to right bottom,
    rgba(225,225,225,0.7),
    rgba(225,225,225,0.3)
    ); */
	border-radius: 3em;
	font-size: 20px;
	width: 100%;
	height: 100%;
	border: rgba(225, 225, 225, 0.3) solid 1px;
	display: flex;
}

.adminpage .adminNav {
	/* background : linear-gradient(to right bottom,
        rgba(225,225,225,0.7),
        rgba(225,225,225,0.3)
        ); */
	border-radius: 3em;
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

.adminNav a {
	margin-top: 30%;
	align-items: center;
	color: gray;
	text-decoration: none;
	flex: 1;
}

.link {
	display: flex;
	margin: 0;
	font-size: 15px;
}

/* 차트 */
.adminpage .chart_electric {
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 50%;
}

.electric_week {
	/* 한줄로 합칠 때 */
	grid-column: 1/-1;
}

.adminpage .chart .electric_month {
	width: 80%;
	height: 50%;
	margin: 5%;
	margin-top: 10%;
}

.adminpage .chart_electric .electric_week {
	width: 100%;
	height: 100%;
}

.adminpage .chart_section {
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.adminpage .chart_electric .public {
	width: 40%;
	height: 90%;
	margin: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.adminpage .chart .private {
	width: 40%;
	height: 90%;
	margin: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}
/* 납부관리 */
.adminpage .chart_usage {
	width: 60%;
	height: 100%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 95%;
}

.adminpage .table {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 80%;
	justify-content: center;
	width: 100%;
	text-align: center;
}
/* 각 방 사용량 */
.adminpage .room_usage {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 53% 43%;
	justify-content: center;
	width: 100%;
	text-align: center;
	row-gap: 1em;
}

.room_payment {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 80%;
	border-radius: 3em;
}

.room_tbl {
	width: 100%;
	height: 85%;
	text-align: center;
	justify-items: center;
}

.personal_payment {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25% 75%;
}

.total_payment {
	width: 100%;
	height: 70%;
	text-align: center;
	justify-items: center;
}

.total_payment th {
	background: rgb(255, 255, 255, 0.5);
	color: gray;
	padding: 3px;
	text-align: center;
}

.total_payment td {
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
	/* border: 1px solid #7a7878; */
	border-collapse: collapse;
}

/* 테이블 아래만 둥글게 */
/* .room_tbl .radius1{
    color: gray;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 0px 0px 0px 3em;
}
.room_tbl .radius2{
    border-radius: 0px 0px 3em 0px;
} */
/* ---------- */

/*납부관리 */
.payment_tbl {
	width: 100%;
	height: 100%;
	text-align: center;
	justify-items: center;
}

.payment_tbl  th {
	background: rgb(255, 255, 255, 0.5);
	color: gray;
	padding: 3px;
	text-align: center;
}

.payment_tbl td {
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
	/* border: 1px solid #7a7878; */
	border-collapse: collapse;
}
/* 방 별 사용량 */
.room_tbl th {
	background: rgb(255, 255, 255, 0.5);
	color: gray;
	padding: 3px;
	text-align: center;
}

.room_tbl td {
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
	border-collapse: collapse;
}

/* 게시판 */
.adminpage .chart_board_content {
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 10% 60% 10%;
}

.adminpage .member {
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20%;
	grid-row-gap: 1em;
}

/* 유저 프로필 */
aside {
	display: flex;
	grid-row-gap: 1em;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	flex-direction: column;
	width: 15%;
	height: 95%;
}
/* 버튼 집합 */
.logout a {
	cursor: pointer;
	outline: none;
	width: 100%;
	height: 10vh;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(225, 225, 225, 0.2);
	border-top: 1px solid rgba(225, 225, 225, 0.1);
	border-bottom: 1px solid rgba(225, 225, 225, 0.1);
	border-radius: 30px;
	color: #fff;
	z-index: 1;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.5s;
}

.logout a:hover {
	letter-spacing: 3px;
}

.logout a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(225, 225, 225, 0.15),
		transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
}

.post {
	float: right;
	width: 20%;
	height: 70%;
	margin-right: 5%;
	cursor: pointer;
	color: #fff;
	background: #004fff;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 100px;
}

.profile {
	/* background : linear-gradient(to right bottom,
        rgba(225,225,225,0.7),
        rgba(225,225,225,0.3)
        ); */
	border-radius: 3em;
	width: 100%;
	height: 100%;
}

.alert_msg {
	/* background : linear-gradient(to right bottom,
        rgba(225,225,225,0.7),
        rgba(225,225,225,0.3)
        ); */
	border-radius: 3em;
	width: 100%;
	height: 100%;
	/* margin-top: 20px; */
	margin-left: 2%;
	margin-right: 2%;
}

.profile_img {
	width: 80%;
	height: 80%;
	margin: 25px;
	/* grid-area:1/1/2/2; */
}

.about_img {
	width: 100%;
	height: 100%;
}

.user_name {
	/* border: red solid 3px; */
	width: 90%;
	height: 5%;
	margin: 10%;
	margin-top: 2%;
	align-items: center;
	justify-content: center;
}

/* 게시판 페이지 */
.adminpage .notice_board {
	/* border: red solid 3px; */
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 2%;
	/* position: absolute; */
}

.adminpage .notice_board {
	font-size: 100%;
	width: 30%;
	height: 20%;
	margin-top: 1%;
	margin-left: 35%;
	border: green solid 3px;
	align-items: center;
}

.adminpage .notice_board .board_content {
	/* border: green solid 3px; */
	width: 90%;
	height: 75%;
	margin: 5%;
	margin-top: 1%;
	margin-bottom: 3%;
}
/* 가입승인페이지 */
.adminpage .member {
	/* border: red solid 3px; */
	width: 60%;
	height: 95%;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	/* position: absolute; */
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 35%;
}

.adminpage .member .memberlist {
	/* border: green solid 3px; */
	width: 70%;
	height: 90%;
	margin: 3%;
	margin-top: 3%;
	display: flex;
}

.adminpage .member .joinlist {
	/* border: green solid 3px; */
	width: 70%;
	height: 90%;
	margin: 3%;
	margin-top: 3%;
	display: flex;
}
/* 글레스 기법 _ 관리자&개인*/
.adminpage {
	border-radius: 3em;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: 0.5s;
}

.adminNav, .electric_month, .electric_yesterday, .electric_week, .public,
	.personal, .table, .roomtable, .room_payment, .room_select_tbl,
	.chart_board, .personal_payment, .accept_list, .member_list,
	.chart_board_content, .choose_room, .member_list, .profile,
	.profile_img, .alert_msg, .logout, #room {
	border-radius: 3em;
	background: rgba(255, 255, 255, 0.01);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	/* border-radius: 10px; */
	border: 1px solid rgba(255, 255, 255, 0.01);
	transition: 0.5s;
}